<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Mixed Media · Illustration · Installation</h3>
                            <p class="text-muted">Arraeofthings is a visual artist and art director from Texas with a background in illustration, mixed media, and
                                printmaking. Navigating between illustrative expressions and intuitive improvisation, arraeofthings dances with
                                painting, collage, and installation. Allusions to aspects of her roots and human dynamics remain prevalent in her
                                works.</p>
                        </div>
                    </div>
                </div>
        </section>